<div class="font-resp" fxLayout="column">
    <span class="header-2">Wir geben Ihnen Antworten zu Ihren Fragen!</span>

    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title class="placeholder-text-1">
                    {{'info.personalDataPages' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
                <p class="paragraph">Die Nutzungsdauer von Messgeräten ist durch den Zeitraum bestimmt, innerhalb dessen
                    sie (nach technisch-wissenschaftlichen Erkenntnissen)
                    zuverlässige Ergebnisse liefern. Dieser Zeitrahmen ist vom Alterungsverhalten der Messgerätebauteile
                    und von äußeren Einflüssen abhängig.</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title class="placeholder-text-1">
                    {{'info.personalDataPages' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
                <p class="paragraph">Die Nutzungsdauer von Messgeräten ist durch den Zeitraum bestimmt, innerhalb dessen
                    sie (nach technisch-wissenschaftlichen Erkenntnissen)
                    zuverlässige Ergebnisse liefern. Dieser Zeitrahmen ist vom Alterungsverhalten der Messgerätebauteile
                    und von äußeren Einflüssen abhängig.</p>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title class="placeholder-text-1">
                    {{'info.personalDataPages' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
                <p class="paragraph">Die Nutzungsdauer von Messgeräten ist durch den Zeitraum bestimmt, innerhalb dessen
                    sie (nach technisch-wissenschaftlichen Erkenntnissen)
                    zuverlässige Ergebnisse liefern. Dieser Zeitrahmen ist vom Alterungsverhalten der Messgerätebauteile
                    und von äußeren Einflüssen abhängig.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>