<!--  -->
<div fxLayout="column" fxLayoutGap="20px" class="m-l-5 m-r-5 font-resp">
  <div fxLayout="row" fxLayout.lt-md="column" fxFlex fxFlex.gt-sm="25vh" fxLayoutGap="20px" fxLayoutGap.gt-sm="40px">
    <app-shared-hello-card *ngIf="showHelloCard" fxFlex="50"></app-shared-hello-card>
    <app-building-info-card fxFlex="50" *ngIf="showPropertyCard">
    </app-building-info-card>
    <app-person-overview-card fxFlex="50" *ngIf="showFlatCard"></app-person-overview-card>
    <app-meter-details-overview-card *ngIf="showMeterCard" #meterCard [meterId]="meterId" fxFlex="50">
    </app-meter-details-overview-card>
    <div fxLayout="column" fxFlex="50" fxLayoutGap="24px">

      <app-search-autocomplete *ngIf="showPropertySearch && !orderId" (onOptionSelected)="propertyChange($event)">
      </app-search-autocomplete>
      <app-map-component *ngIf="!showUserMap" fxFlex="100"></app-map-component>
      <app-map-component [isFromUser]="true" *ngIf="showUserMap" fxFlex="100"></app-map-component>
    </div>
  </div>

  <div fxFlex="100" fxFlexGap="1">
    <mat-card class="mat-dashboard-card">

      <div fxLayout.lt-md="column" fxLayout="row" class="w-100" fxLayoutAlign="space-between center">
        <mat-card-title fxFlex>
          <span fxLayout="row" fxLayoutAlign="start center">

            <button (click)="goBack()" [ngClass]=" { 'is-hidden': currentStep == 'STEP_0' || currentStep == 'STEP_5' } "
              mat-icon-button>
              <mat-icon>arrow_back</mat-icon>
            </button>

            <span [ngClass]=" { 'is-hidden': currentStep == 'STEP_4' } ">
              {{orderId ? ('admin.edit' | translate)+' --' : ''}} {{'order.orderPlumbing' | translate}}
            </span>
            <span [ngClass]=" { 'is-hidden': currentStep != 'STEP_4' } ">
              {{orderId ? ('admin.edit' | translate)+' --' : ''}} {{'order.orderPlumbingSummary' | translate}}
            </span>

          </span>

        </mat-card-title>
        <div fxFlex="30" fxLayoutAlign.lt-md="center start" fxLayoutAlign="end start">
          <div [ngClass]="{ 'is-hidden': currentStep != 'STEP_1'}" fxFlexAlign="end end">
            <app-search-bar (changed)="plumbingTable.applyFilter($event)"></app-search-bar>
          </div>
          <div [ngClass]="{ 'is-hidden': currentStep != 'STEP_2'}" fxFlexAlign="end end">
            <app-search-bar (changed)="filterGrid($event)"></app-search-bar>
          </div>
          <div [ngClass]="{ 'is-hidden': currentStep != 'STEP_0'}" fxFlexAlign="end end">
            <app-search-bar placeHolder="{{'stockOverview.propertySearchPlaceholder' | translate}}' | translate}}"
              (changed)="plumbingPropertyTable.applyFilter($event)"></app-search-bar>
          </div>
        </div>
      </div>


      <mat-card-content class="font-resp">
        <!-- STEP 0 -->
        <p class="m-l-5 header-4" [ngClass]="{ 'is-hidden': currentStep != 'STEP_0'}">{{'order.selectAProperty' |
          translate}}</p>
        <div class="order-table overflow-auto" [ngClass]="{ 'is-hidden': currentStep != 'STEP_0'}">
          <app-order-plumbing-property-table #plumbingPropertyTable (plumbingPropertyEvent)=gotoFlats($event)>
          </app-order-plumbing-property-table>
        </div>
        <!-- STEP 1 -->
        <p class="m-l-5 header-4" [ngClass]="{ 'is-hidden': currentStep != 'STEP_1'}">{{'order.selectAFlat' |
          translate}}</p>
        <div class="order-table overflow-auto" [ngClass]="{ 'is-hidden': currentStep != 'STEP_1'}">
          <app-order-plumbing-table #plumbingTable (hasClicked)="handleStep1Click($event)"></app-order-plumbing-table>
        </div>
        <!-- STEP 2 -->
        <p class="m-l-7 header-4" [ngClass]="{ 'is-hidden': currentStep != 'STEP_2'}">{{'order.selectAMeter' |
          translate}}</p>
        <div class="order-table overflow-auto" fxHide.lt-md="true" [ngClass]="{ 'is-hidden': currentStep != 'STEP_2'}">
          <table class="grid-table table-align" mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="meterserialno">
              <th mat-header-cell *matHeaderCellDef>{{'stockOverview.meterSerialNo' | translate}}</th>
              <td class="align-c" mat-cell *matCellDef="let element"> {{element?.serialNumber}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="metertype">
              <th mat-header-cell *matHeaderCellDef>{{'stockOverview.meterType' | translate}} </th>
              <td class="align-c" mat-cell *matCellDef="let element"> {{element?.meterTypeDesc}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef> {{'stockOverview.location' | translate}} </th>
              <td class="align-c" mat-cell *matCellDef="let element"> {{element?.location}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <a (click)="goToOrderForm(row?.id)" mat-button color="link" fxLayoutAlign="end center">
                  {{'order.gotoAppointmentDetails' | translate}} <mat-icon>chevron_right</mat-icon>
                </a>
              </td>
            </ng-container>
            <!-- 
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <span fxFlex></span>
                <a (click)="stepper('STEP_3')" mat-button color="link">
                  Place an Order <mat-icon>chevron_right</mat-icon>
                </a>
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-paginator hidePageSize="true" #paginator [length]="dataSource?.data.length" [pageIndex]="0"
              [pageSize]="pageSize">
            </mat-paginator>
          </div>
        </div>

        <!-- responsive  -->

        <div fxLayout="column" [ngClass]="{ 'is-hidden': currentStep != 'STEP_2'}" fxLayoutAlign="start center"
          fxHide.gt-sm="true" fxLayoutGap="20px" *ngIf="dataSource" class="font-resp" fxHide.gt-sm="true">
          <mat-card fxFlex fxHide.gt-sm="true" class="mat-dashboard-card w-100" fxLayout="column" fxLayoutGap="20px"
            *ngFor="let item of dataSource.data">
            <div fxFlex fxLayout="column" fxLayoutGap="10px">
              <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="47px" fxFlexAlign="center">
                  <img src="./assets/images/tehanumber.svg" width="42" height="42" viewBox="0 0 42 42">
                </div>
                <span fxFlex="50" class="support-text-b">{{'stockOverview.meterSerialNo' | translate}}:
                  <span class="support-text">{{item?.serialNumber}}</span></span>
                <div fxFlex="47px" fxFlexAlign="center">
                  <img src="./assets/images/tehanumber.svg" width="42" height="42" viewBox="0 0 42 42">
                </div>
                <span fxFlex="50" class="support-text-b">{{'stockOverview.meterType' | translate}}: <span
                    class="support-text-b">{{item?.meterTypeDesc}}</span></span>
              </div>
              <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="47px" fxFlexAlign="center">
                  <img src="./assets/images/tehanumber.svg" width="42" height="42" viewBox="0 0 42 42">
                </div>
                <span fxFlex="50" class="support-text-b">{{'stockOverview.location' | translate}}:
                  <span class="support-text">{{item?.location}}</span></span>
              </div>

            </div>
            <mat-divider fxFlex inset="true"></mat-divider>
            <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">


              <a (click)="goToOrderForm(item?.id)" mat-button color="link" fxLayoutAlign="end center">
                {{'order.gotoAppointmentDetails' | translate}} <mat-icon>chevron_right</mat-icon>
              </a>

            </div>
          </mat-card>
        </div>


        <!-- STEP 3 -->
        <div class="p-b-4 p-t-4" [ngClass]="{ 'is-hidden': currentStep != 'STEP_3'}">
          <app-order-plumbing-form #altForm [orderPlumbingRequestCurrent]="orderPlumbingRequestCurrent"
            [orderPlumbingRequestNew]="orderPlumbingRequestNew"></app-order-plumbing-form>
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
            <button (click)="cancelOrder()" mat-button mat-button class="primary-transparent-button">
              {{'account.cancel' | translate}}
            </button>
            <button (click)="stepper('STEP_4')" [disabled]="!altForm?.firstForm?.form?.valid" mat-button
              class="primary-green-button">
              {{'order.next' | translate}}
            </button>
            <br />
          </div>

        </div>
        <!-- STEP 4 -->
        <div class="p-b-4 p-t-4" [ngClass]="{ 'is-hidden': currentStep != 'STEP_4'}">
          <!-- table here  -->
          <div class="you-have-ordered-text p-t-4">

            <p>{{'order.youHaveOrder' | translate}} <q>{{orderPlumbingRequestNew.reason}}</q> <span
                *ngIf="!orderAtFlatLevel">{{'order.requestMeter' | translate}}</span> <span
                *ngIf="orderAtFlatLevel">{{'order.plumbingSummaryFlatMsg' | translate}}</span> </p>
          </div>
          <app-order-plumbing-table-two #plumbingTableTwo [orderPlumbingRequestCurrent]="orderPlumbingRequestCurrent"
            [orderPlumbingRequestNew]="orderPlumbingRequestNew" [meter]="meter"></app-order-plumbing-table-two>
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
            <button (click)="cancelOrder()" mat-button mat-button class="primary-transparent-button">
              {{'account.cancel' | translate}}
            </button>
            <button (click)="sendOrderRequest()" [disabled]="!plumbingTableTwo?.summaryForm?.form?.valid" mat-button
              class="primary-green-button">
              {{'order.confirm' | translate}}
            </button>
            <br />
          </div>

        </div>
        <!-- STEP 5 -->
        <div [ngClass]="{ 'is-hidden': currentStep != 'STEP_5'}">
          <div class="confirm-message-wrapper">
            <div class="message-with-icon-wrapper" fxLayoutAlign="center center" fxLayoutGap="24px">

              <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M43.7508 25.1461V27.0836C43.7455 36.3101 37.6722 44.4341 28.8244 47.0501C19.9766 49.6661 10.462 46.1509 5.44026 38.4108C0.418511 30.6708 1.0859 20.5495 7.08051 13.5359C13.0751 6.52218 22.9689 4.2868 31.3966 8.04196"
                  stroke="#00A253" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M45.8327 8.33301L22.916 31.2497L16.666 24.9997" stroke="#00A253" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <span class="message">{{'order.orderConfirmationMessage' | translate}}</span>

            </div>
            <div class="confirmation-message-text p-t-8">
              <p>{{'order.receivedOrder' | translate}}
                <br>
                <br>
                {{'order.emailMessage' | translate}}
                <br>
                <br>
                -- {{'order.tehaServiceTeam' | translate}}
              </p>


            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
            <button (click)="backToOrders()" mat-button class="primary-green-button">
              {{'order.backToOrders' | translate}}
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


</div>