.tooltip-conatiner {
    border: 1px solid black;
    border-radius: 6px;
    padding: 7px 12px 7px;
    margin: 5px;
    text-align: left;
    font-size: 15px;
    color:#858484;
    background: #eeeded;
}