@import "../../../../shared/styles/spacing";
@import "../../../../shared/styles/colors";
@import "../../../../shared/styles/typography";
@import "../../../../shared/styles/confirmationmessage";
@import "../../../../shared/styles/orderscommon";



  
.ml4 {
    margin-left: 20px;
  }
  
.search-bar input {
  width: 400px;
  height: 40px;
  border: transparent;
  outline: none;
}

.search-bar svg {
  width: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

.is-hidden-overview-card {
  display: none;
  visibility: collapse;
}

.is-hidden {
  display: none;
  visibility: collapse;
  width: 0px !important;
  height: 0px !important;
}

.panel {
  padding-left: 30px;
  padding-top: 30px;
}

.vertical-separator {
  height: 400px;
  opacity: 0.6;
  
  border: 0.75px solid #808080;
  
}

.form-label {
  /* First Name */
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
/* identical to box height */
letter-spacing: 0.05em;

color: #565656;

}

// .smaller-input .input-box {
//   width: 115px;
//   height: 35px;
//   left: 1101px;
//   top: 520px;

//   background: #FFFFFF;
//   box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
// }

.search {
  margin-top: -70px;
}

.confirmed-order p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  padding-left: 40px;
  padding-top: 40px;
  // padding-bottom: 20px;
  color: #565656;
}

// .mat-card-content {
//   overflow: scroll;
//   min-height: 290px;
//   overflow-x: auto;
// }

.confirmed-order svg {
  margin-right: 25px;
  margin-top: 32px;
}

.confirmed-order {
  margin-bottom: 30px;
}

.confirm-order2 {
  color: $secondary;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  padding-bottom: 30px;
}

.check-box {
  margin-top: 15px;
}

.check-box .example-margin {
  margin-bottom: 18px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.check-box .example-margin a {
  text-decoration: none;
}

.full-width-table {
  width: 100%;
}

// Table Centering Hack -- Issue in Angular Material, Not Centering
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.formFieldWidth480 .mat-form-field-infix {
  width: 80px;
}

:host ::ng-deep .mat-header-cell {
  justify-content: center;
  text-align: center;
}


:host ::ng-deep .mat-cell {
  text-align: center;
  justify-content:center;
}

.image-upload {
  input {
    display: none;
  }
  label :hover{
    cursor: pointer;
  }
}

.customTooltipFlatGroup {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.warrningInput {
  border: 1px solid $yellow;
}
.errorInput {
  border: 1px solid $red;
}
