<div fxLayout="row" fxLayout.lt-md="column-reverse" fxLayoutGap="24px" class="p-l-3 p-r-3">
  <div fxLayout="column" fxFlex="0 0 calc(50% - 12px)">
    <app-shared-hello-card fxFlex="100" message="miscellaneous.helloCardWelcome"></app-shared-hello-card>
  </div>

  <div fxLayout="column" fxLayoutGap="24px" fxFlex="0 0 calc(50% - 12px)">

    <app-search-autocomplete (onOptionSelected)="showPropertyOverview($event)"></app-search-autocomplete>
    <app-news-card fxHide.lt-md="true" [news]="dashboardData?.news" fxFlex="100"></app-news-card>
  </div>
</div>
<app-home-status [dashboardData]="dashboardData"></app-home-status>