<div fxLayout="row" class="snack-wrapper" fxLayoutAlign="center center" fxLayoutGap="34px">

    <div fxFlex>
        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="80"
            height="80">
            <path
                d="m 18,10 h 4 v 4 h -4 z m 0,8 h 4 V 30 H 18 Z M 20,0 C 8.96,0 0,8.96 0,20 0,31.04 8.96,40 20,40 31.04,40 40,31.04 40,20 40,8.96 31.04,0 20,0 Z m 0,36 C 11.18,36 4,28.82 4,20 4,11.18 11.18,4 20,4 c 8.82,0 16,7.18 16,16 0,8.82 -7.18,16 -16,16 z"
                style="stroke-width:1.99999;fill:#016d90;fill-opacity:1" />
        </svg>
    </div>

    <div fxFlex="70" class="text">{{data.message}}</div>

</div>