@import "../../../../shared/styles/spacing";
@import "../../../../shared/styles/colors";
@import "../../../../shared/styles/typography";
@import "../../../../shared/styles/deep";

table {
  width: 100%;

  th {
    min-width: 90px;
    max-width: 200px;
    text-align: center;
  }

  td {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
    text-align: center;
    min-height: 75px;
  }

  .primaryHighlight {
    color: $primary;
  }

  .dangerHighlight {
    color: red;
  }
}
.teams-accord {
  mat-expansion-panel-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    height: 59px;
    ::ng-deep {
      .mat-expansion-indicator {
        position: absolute;
        left: 1rem;
        top: 1rem;
      }
      .mat-expansion-indicator::after {
        height: 0.5rem;
        width: 0.5rem;
      }
    }
  }
}
.add-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}
