<div class="font-resp" fxLayout="column">
    <p class="paragraph">{{'info.termsReadMsg' | translate}}:</p>
    <table fxFlexFill fxFlex="100" mat-table [dataSource]="dataSource" class="full-width-table grid-table table-align">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="doc_name">
            <th mat-header-cell *matHeaderCellDef> {{'info.documentName' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.doc_name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> {{'miscellaneous.type' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> {{'documentArchives.download' | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5 5V2C5 0.89543 5.89543 0 7 0H13C14.1046 0 15 0.89543 15 2V5V9H20L10 17.5847L0 9H5V5ZM13 2V5V9V11H14.2967L10 14.9505L5.70326 11H7V9V5V2H13ZM17 20C18.1046 20 19 19.1046 19 18H1C1 19.1046 1.89543 20 3 20H17Z"
                            fill="#565656" />
                    </svg>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>