@import "../../../../shared/styles/spacing";
@import "../../../../shared/styles/colors";
@import "../../../../shared/styles/typography";



table {
  width: 100%;

  th {
    min-width: 90px;
    max-width: 200px;
    text-align: center;
  }

  td {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
    text-align: center;
    min-height: 75px;
  }

  .primaryHighlight {
    color: $primary;
  }

  .dangerHighlight {
    color: red;
  }
}


.pin {
  border: 1px solid #ddd;
  max-width: 22px;
  max-height: 22px;
  text-align: center;
  width: 22px;
  height: 22px;
  font-style: normal;
  // font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.05em;

  background: #FFFFFF;
  border: 1px solid #565656;
  box-sizing: border-box;


}

.pin:disabled {
  width: 30px;
  height: 30px;

  background: #DADADA;
  border: 1px solid #565656;
  box-sizing: border-box;
}

.is-hidden {
  display: none;
  visibility: hidden;
}


@import "../../../../shared/styles/formfields";
