<div class="p-l-8 p-r-8 m-t-5 font-resp">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
      <div fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <!-- <div fxFlex="30">
            {{'account.currentPassword' | translate}}:
          </div> -->
          <div fxFlex>
            <mat-form-field class="placeholder-text-1" [floatLabel]="floatLabelControl.value">
              <input matInput [(ngModel)]="currentPassword" placeholder="{{'account.currentPassword' | translate}}*"
                type="password" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <!-- <div fxFlex="30">
            {{'account.newPassword' | translate}}:
          </div> -->
          <div fxFlex>
            <mat-form-field class="placeholder-text-1" [floatLabel]="floatLabelControl.value">
              <input matInput [(ngModel)]="newPassword" placeholder="{{'account.newPassword' | translate}}*"
                type="password" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <!-- <div fxFlex="30">
            {{'account.confirmPassword' | translate}}:
          </div> -->
          <div fxFlex>
            <mat-form-field class="placeholder-text-1" [floatLabel]="floatLabelControl.value">
              <input matInput [(ngModel)]="confirmPassword" placeholder="{{'account.confirmPassword' | translate}}*"
                type="password" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="m-t-8" fxLayout="row" fxLayoutAlign="end end" fxLayoutAlign.lt-md="center center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayoutGap="12px">
        <button (click)="onCancelPressed()" mat-button
          class="primary-transparent-button wide">{{'account.cancel' | translate}}</button>
        <button (click)="changePassword()" mat-button
          class="primary-green-button wide">{{'account.changePassword' | translate}}</button>
      </div>
    </div>
  </div>
</div>