<div class="font-resp" fxLayout="column">


    <h2 class="header-2">Ordinance on the consumption-based billing of heating and hot water costs (Ordinance on
        heating billing - HeizkostenV)</h2>

    <p class="paragraph">Heating cots V.</p>

    <p class="paragraph">Date of issue: 02/23/1981</p>

    <p class="paragraph">“Ordinance on heating billing in the version published on October 5, 2009 (Federal Law Gazette I p. 3250)”</p>

    <p class="paragraph"><b>Was standing:</b> Newly formulated by Bek. October 5, 2009 | 3250</p>
</div>