@import "../../../../shared/styles/spacing";
@import "../../../../shared/styles/colors";
@import "../../../../shared/styles/typography";
@import "../../../../shared/styles/confirmationmessage";
@import "../../../../shared/styles/orderscommon";
@import "../../../../shared/styles/formfields";
@import "../../../../shared/styles/deep";
.full-width-table {
  width: 100%;
}

// Table Centering Hack -- Issue in Angular Material, Not Centering
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
